header {
  margin-bottom: 50px;
  padding: 15px;
  background-color: #e3f2e3;
}

.login {
  border: none;
  background-color: #008000;
  color: white;
  font-weight: 600;
  padding: 8px;
}

.logo {
  margin: 0;
}

.main-info {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  max-width: 1024px;
  margin: 0 auto;
  text-align: right;
}
